{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.css')}}">
{% endblock %}

{% block content %}
{{util.flashed_messages(dismissible=True)}}

<script src="/static/FileSaver.min.js"></script>
<script src="/static/jszip.min.js"></script>
<script src="/static/jszip-utils.js"></script>
<script src="/static/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/static/bootstrap-table.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="/static/bootstrap.min.js"></script>
<script src="/static/bootstrap-table.min.js"></script>

<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#tool">Tool</a></li>
    <li><a data-toggle="tab" href="#assessment">Assessment</a></li>
    <li><a data-toggle="tab" href="#jobs">Jobs</a></li>
  </ul>

  <div class="tab-content">
    <div id="tool" class="tab-pane fade in active">
      <h1>torc-web v0.1.4 - Tool Menu</h1>

      <form class="tool_form" method=POST>
      {{ wtf.form_field(tool_form.tool) }}
      {{ wtf.form_field(tool_form.target) }}
      {{ wtf.form_field(tool_form.target_name) }}
      {{ wtf.form_field(tool_form.port_number) }}
      {{ wtf.form_field(tool_form.password) }}
      {{ wtf.form_field(tool_form.password_file) }}
      {{ wtf.form_field(tool_form.user) }}
      {{ wtf.form_field(tool_form.user_file) }}
      {{ wtf.form_field(tool_form.protocol) }}
      {{ wtf.form_field(tool_form.url) }}
      </form>
      <button class="btn btn-success" id="submit_tool">Submit Job</button>
    </div>
    <div id="assessment" class="tab-pane fade">
      <h1>torc-web v0.1.4 - Assessment Menu</h1>

      <form class="assessment_form" method=POST>
      {{ wtf.form_field(assessment_form.assessment) }}
      {{ wtf.form_field(assessment_form.target) }}
      {{ wtf.form_field(assessment_form.target_name) }}
      {{ wtf.form_field(assessment_form.port_number) }}
      {{ wtf.form_field(assessment_form.password) }}
      {{ wtf.form_field(assessment_form.password_file) }}
      {{ wtf.form_field(assessment_form.user) }}
      {{ wtf.form_field(assessment_form.user_file) }}
      {{ wtf.form_field(assessment_form.protocol) }}
      {{ wtf.form_field(assessment_form.url) }}
      <button class="btn btn-success" id="submit">Submit Job</button>
    </div>
    <div id="jobs" class="tab-pane fade">
      <h1>torc-web v0.1.4 - Jobs Menu</h1>
      <table id="table_job" class="table table-hover" data-toggle="table" data-url="http://127.0.0.1:5000/tools/jobs" data-pagination="true" data-search="true">
        <thead>
          <tr>
            <th data-field="id">Item ID</th>
            <th data-field="target_name">Job Name</th>
            <th data-field="target">Target Name</th>
            <th data-field="tool">Tool ID</th>
            <th data-field="return_code">Return Code</th>
            <th data-checkbox=true>Export</th>
            <th data-field="view" data-formatter="viewFormatter" data-events="viewEvents">View</th>
          </tr>
        </thead>
      </table>
      <div id="toolbar" style="padding-top: 5px; padding-bottom: 5px">
        <button class="btn btn-success" id="export_job" type="button">Export Job</button>
        <button class="btn btn-default" id="refresh" type="button">
          <i class="glyphicon glyphicon-refresh icon-refresh"></i>
        </button>
      </div>

    </div>
  </div>

<script>
    var $table = $('#table_job');
    var $button = $('button#export_job');
    var $button_refresh = $('button#refresh');

    function viewFormatter(value, row, index) {
        return [
            '<a href="/view?jobid=' + (index + 1) + '" target="_blank">View</a>',
        ].join('');
    }

    // Add file to zip
    function addToZip(zip, exportId, exportData) {
        var deferred = $.Deferred();
        var item = exportData[exportId];

        JSZipUtils.getBinaryContent('http://127.0.0.1:5000/tools/jobs/exports/' + item['id'], function(err, data) {
            var elt = document.getElementById('jszip_utils');
            if(err) {
                showError(elt, err);
                return;
            } else {
                zip.file(item['id'] + ".zip", data)
                deferred.resolve(zip);
            }
        });
        return deferred;
    }

    function generateZip(zip) {
        var content = zip.generate({type:"blob"});
        saveAs(content, "output.zip");
        //location.href = "data:application/zip;base64," + content;
    }

    // Refresh button
    $(function () {
        $button_refresh.click(function () {
            $table.bootstrapTable('refresh');
        });
    });

    // Export job
    $(function () {
        $button.click(function () {
            var exportData = $table.bootstrapTable('getSelections');
            var deferreds = [];
            var zip = new JSZip();

            for (var i = 0; i < exportData.length; i++) {
                deferreds.push(addToZip(zip,i,exportData));
            }

            $.when.apply(window, deferreds).done(generateZip);
        });
    });

    $(function() {
        $("button#submit_tool").click(function(){
            // Very pikey code
            var fail = 0;
            var list_target = target.value.replace(/\r\n/g, "\n").split("\n");
            for(i=0;i<list_target.length;i++) {
                document.getElementById('target').value = list_target[i];
                $.ajax({
                    type: "POST",
                    url: "http://localhost:5000/tools/jobs",
                    data: $('form.tool_form').serialize(),
                    success: function(msg){
                        $.ajax({
                            type: "POST",
                            url: "http://localhost:5000/tools/jobs/execute",
                            data: msg,
                            success: function(response){
                                ;
                            },
                            error: function(){
                                fail = 1;
                            }
                        });
                    },
                    error: function(){
                        fail = 1;
                    }
                });
            }
            if (fail == 1) {
                alert("Failure");
            } else {
                alert("Success");
            }
        });
        // For each tool in assessment...
        $("button#submit_assessment").click(function(){
            $.ajax({
                type: "POST",
                url: "http://localhost:5000/tools/job",
                data: $('form.tool_form').serialize(),
                success: function(msg){
                    $("#thanks").html(msg)
                    $("#form-content").modal('hide'); 
                },
                error: function(){
                    alert("failure");
                }
            });
        });
    });
</script>

{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}

{% endblock %}
